.theme-container.overview-page-class {
  .feature {
    flex-grow: 1;
    flex-basis: 30%;
    max-width: 30%;
    h2 {
      font-size: 1.4rem;
      font-weight: 500;
      border-bottom: none;
      padding-bottom: 0;
      
    }
    p {
      
    }
  }
}
