.content__default {
  max-width: 1000px !important;
}
p img {
  border: 1px solid #d7dae2;
  border-radius: 8px;
  max-width: calc(100% - 40px);
}


.sidebar-group.is-sub-group > .sidebar-heading:not(.clickable) {
  font-size: 1em !important;
  opacity: 1 !important;
  cursor: pointer !important;
}

p>code {
  /*border: 1px solid #007af5;*/
  color: #c7254e !important;
  background-color: #f9f2f4;
  font-size: 90%;
}

li>code {
  color: #c7254e !important;
  background-color: #f9f2f4;
  font-size: 90%;
}

td>code {
  color: #c7254e !important;
  background-color: #f9f2f4;
  font-size: 90%;
}

h1~ul {
  margin-top: 0.8rem;
}

h2~ul {
  margin-top: 0.8rem;
}

h3~ul {
  margin-top: 0.8rem;
}

h4~ul {
  margin-top: 0.8rem;
}

h5~ul {
  margin-top: 0.8rem;
}

.custom-block .custom-block-title {
  margin-bottom: 0.4rem;
}

.custom-block .custom-block-title~p {
  margin-top: 0;
}

.noselect {
  -moz-user-select: -moz-none;
  -moz-user-select: none;
  -o-user-select:none;
  -khtml-user-select:none;
  -webkit-user-select:none;
  -ms-user-select:none;
  user-select:none;
}

/*定义滚动条高宽及背景 高宽分别对应横竖滚动条的尺寸*/
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
/*定义滚动条轨道 内阴影+圆角*/
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
}
/*定义滑块 内阴影+圆角*/
::-webkit-scrollbar-thumb {
  border-radius: 10px;
  box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.42);
  background-color: rgba(0, 0, 0, 0.25);
} 

/*Bootstrap*/
p {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}
a:hover {
  text-decoration: none !important;
}
h4 {
  font-size: 1.25rem;
}
label {
  line-height: normal;
}

.side-nav-item a {
  padding: 2px;
}
