.content__default {
  max-width: 1000px !important;
}
p img {
  border: 1px solid #d7dae2;
  max-width: calc(70vw - 40px);
}

.sidebar-group.is-sub-group > .sidebar-heading:not(.clickable) {
  font-size: 1em !important;
  opacity: 1 !important;
}

.noselect {
  -moz-user-select: -moz-none;
  -moz-user-select: none;
  -o-user-select:none;
  -khtml-user-select:none;
  -webkit-user-select:none;
  -ms-user-select:none;
  user-select:none;
}

/*定义滚动条高宽及背景 高宽分别对应横竖滚动条的尺寸*/
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
/*定义滚动条轨道 内阴影+圆角*/
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
}
/*定义滑块 内阴影+圆角*/
::-webkit-scrollbar-thumb {
  border-radius: 10px;
  box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.42);
  background-color: rgba(0, 0, 0, 0.25);
} 
